.header {
    background: linear-gradient(264deg, rgba(112,34,230,1) 0%, rgba(104,2,167,1) 100%);
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    padding: 0.75rem;
    font-size: 1.5rem;
    align-items: center;
    justify-content: space-between;
    color: #fff;
  }

  .header nav {
    margin-right: 1rem;
  }

.header span {
  font-size: 2rem;
}
.header a {
  text-decoration: none;
  color: #fff;
  padding-inline: 0.5rem;

}
  