.container{
    width: 100%;
    background: radial-gradient(circle, rgba(136,4,244,1) 0%, rgba(102,5,181,1) 17%, rgba(16,0,26,1) 100%);
    padding-block: 1rem;
    text-align: center;
    color: white;
    
}