
.card img {
    width: 180px;
    height: 240px; /* Define uma altura fixa */
    object-fit: cover; /* Redimensiona a imagem para cobrir toda a área, cortando o excesso se necessário */
    border-radius: 10px;
    transition: box-shadow 0.3s ease; /* Transição suave */
    transition: transform 0.3s ease; /* Transição suave para o zoom */
    object-fit: cover; /* Faz a imagem preencher o contêiner sem distorção */

}

img:hover {
    box-shadow: 0 0 7px 4px rgb(160, 33, 245); /* Adiciona uma sombra ao redor da imagem */
    transform: scale(1.1); /* Zoom interno de 1.5x */
  }
